<header class="mat-elevation-z5">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="header-row">
        <div class="logo">
          <span>Implementos S.A.</span>
        </div>

        <div style="flex: 1 1 60%; max-width: 60%">
          <div class="search-bar">
            <form action="">
              <input
                type="text"
                placeholder="Buscar producto por código, nombre o número de parte"
              />
            </form>
          </div>
        </div>

        <!--  -->
        <div>
          <button
            mat-raised-button
            color="info"
            routerLink="/account/login"
            class="primary-bg-900"
          >
            <mat-icon>perm_identity</mat-icon>
          </button>
          <button mat-raised-button color="success">
            <!-- <span class="material-icons-outlined"> shopping_bag </span> -->
            <mat-icon fontSet="material-icons-outlined"
              >shopping_basket</mat-icon
            >
            <span>1.200 CLP</span>
          </button>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <!--
  <mat-toolbar color="success" class="header-v1-bottom main-menu-wrap">
    <div class="container">
      <div class="header-v1-bottom-inner">
        <nav class="app-nav">
          <ul class="app-nav-list">
            <li
              class="app-nav-item"
              *ngFor="let item of menuItems"
              [ngClass]="{ mega: item.mega }"
            >
              <ng-container *ngIf="item.type == 'sub'">
                <a class="nav-link" routerLinkActive="active-link">
                  {{ item.name }}
                </a>
              </ng-container>
              <a
                class="nav-link"
                *ngIf="item.type == 'link'"
                [routerLink]="['/' + item.state]"
                routerLinkActive="active-link"
              >
                {{ item.name }}
              </a>
              <ul
                class="sub-menu"
                *ngIf="item.children && item.children.length > 0"
              >
                <li *ngFor="let child of item.children">
                  <a
                    class="nav-link"
                    [ngClass]="{
                      'menu-item-has-children': child.type == 'subChild'
                    }"
                    [routerLink]="['/' + child.state]"
                    routerLinkActive="active-link"
                  >
                    {{ child.name }}
                  </a>
                  <ul
                    class="sub-menu"
                    *ngIf="child.children && child.children.length > 0"
                  >
                    <li *ngFor="let subChild of child.children">
                      <a
                        *ngIf="subChild.type == 'queryParams'"
                        class="nav-link"
                        (click)="redirectTo(subChild)"
                      >
                        {{ subChild.name }}
                      </a>
                      <a
                        *ngIf="subChild.type == 'link'"
                        class="nav-link"
                        [routerLink]="['/' + subChild.state]"
                      >
                        {{ subChild.name }}
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </mat-toolbar>
-->
  <app-progress-indicator></app-progress-indicator>
</header>

<!--<span routerLink="">Material Starter</span>
        <button mat-button color="warn" routerLink="/account/login">login</button>
        <button mat-button color="warn" routerLink="/account/signup">signup</button> -->
<!-- <span *ngIf="language$ | async as language"> -->
<!--<span>
            <mat-select (selectionChange)="onLanguageSelect($event)">
                <mat-option *ngFor="let l of languages" [value]="l">
                    {{ l.toUpperCase() }}
                </mat-option>
            </mat-select>
        </span> -->

<!-- <select #langSelect (change)="changeLang(langSelect.value)"><option *ngFor="let lang of langs" [value]="lang">{{lang}}</option></select>  -->
