@import '~@angular/material/theming';

$color-primary: (
  50: #e7edff,
  100: #c2d1ff,
  200: #99b3ff,
  300: #7094ff,
  400: #527dff,
  500: #3366ff,
  600: #2e5eff,
  700: #2753ff,
  800: #2049ff,
  900: #1438ff,
  A100: #ffffff,
  A200: #fbfbff,
  A400: #c8ceff,
  A700: #aeb8ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$color-success: (
  50: #e0faf2,
  100: #b3f3dd,
  200: #80ebc7,
  300: #4de2b1,
  400: #26dca0,
  500: #00d68f,
  600: #00d187,
  700: #00cc7c,
  800: #00c672,
  900: #00bc60,
  A100: #e5fff0,
  A200: #b2ffd4,
  A400: #7fffb8,
  A700: #65ffaa,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$color-info: (
  50: #e0f2ff,
  100: #b3dfff,
  200: #80caff,
  300: #4db5ff,
  400: #26a5ff,
  500: #0095ff,
  600: #008dff,
  700: #0082ff,
  800: #0078ff,
  900: #0067ff,
  A100: #ffffff,
  A200: #f2f7ff,
  A400: #bfd5ff,
  A700: #a6c4ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$color-warning: (
  50: #fff5e0,
  100: #ffe6b3,
  200: #ffd580,
  300: #ffc44d,
  400: #ffb726,
  500: #ffaa00,
  600: #ffa300,
  700: #ff9900,
  800: #ff9000,
  900: #ff7f00,
  A100: #ffffff,
  A200: #fff8f2,
  A400: #ffdcbf,
  A700: #ffcda6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$color-danger: (
  50: #ffe8ee,
  100: #ffc5d4,
  200: #ff9eb8,
  300: #ff779c,
  400: #ff5a86,
  500: #ff3d71,
  600: #ff3769,
  700: #ff2f5e,
  800: #ff2754,
  900: #ff1a42,
  A100: #ffffff,
  A200: #fffefe,
  A400: #ffcbd3,
  A700: #ffb2bd,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$color-basic: (
  50: #f8f9fb,
  100: #eef0f6,
  200: #e2e7f0,
  300: #d6dde9,
  400: #ced5e5,
  500: #c5cee0,
  600: #bfc9dc,
  700: #b8c2d8,
  800: #b0bcd3,
  900: #a3b0cb,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #f5f8ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
